@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">

    <div class="header-savill" style="background: url(@Url.Content(@"~/img/bg_layout1.png")) no-repeat; background-size: cover;">
        <div class="container">
            <div class="row padding-details">
                <div class="col-3">
                    <a href="#"><i class="fa fa-align-left icon-left" aria-hidden="true"></i></a>
                </div>
                <div class="col-6 text-center col-myteam">
                    <span id="text_detail">Profile</span>
                </div>
                <div class="col-3">
                    <i class=" icon-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="body-savill">

        <div class="col-12 padding-profile">
            <ul class="nav nav-tabs justify-content-center tabs_detail" role="tablist">
                <li class="nav-item">
                    <a class="nav-link color-text-profile-first" href="#description" role="tab" data-toggle="tab">Genral Infor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active color-text-profile-first" href="#attachments" role="tab" data-toggle="tab">Personal Particular</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content tap_content_profile">
                <div role="tabpanel" class="tab-pane fade" id="description">
                    
                </div>
                <div role="tabpanel" class="tab-pane fade in active show" id="attachments">
                    <div class="row-Profile-two">
                        <div class="collapse-profile">
                            <div class="block-collapse">
                                <div id="content-profile" data-toggle="collapse" data-target="#collapseOne"
                                     aria-expanded="true" aria-controls="collapseOne">
                                    <span class="title-icon">
                                        Personal Data
                                    </span>
                                    <i class="fa icon-collapse" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                            <div class="main-collapse">
                                <div class="row font-text-myteam-first">
                                    <div class="col-5 color-text-left">
                                        Gender
                                    </div>
                                    <div class="col-7 color-text-right">
                                        <span>Female</span>
                                    </div>
                                </div>
                                <div class="row font-text-myteam">
                                    <div class="col-5 color-text-left">
                                        <span>Commission Scheme</span>
                                    </div>
                                    <div class="col-7 color-text-right">
                                        <span>90/10</span>
                                    </div>
                                </div>
                                <div class="row font-text-myteam">
                                    <div class="col-5 color-text-left">
                                        <span>Direct Manager</span>
                                    </div>
                                    <div class="col-7 color-text-right">
                                        <span>Tan Mui Hiang<br />(Chen Meixang)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show row-Profile-three" aria-labelledby="headingOne">
                        <div class="main-collapse profile-two">
                            <div class="row font-text-myteam-first">
                                <div class="col-5 color-text-left">
                                    <span>D.O.B</span>
                                </div>
                                <div class="col-7 color-text-right">
                                    <span>Oct 25, 1991</span>
                                </div>
                            </div>
                            <div class="row font-text-myteam">
                                <div class="col-5 color-text-left">
                                    <span>Mobile No.1</span>
                                </div>
                                <div class="col-7 color-text-right">
                                    <span>91181075</span>
                                </div>
                            </div>
                            <div class="row font-text-myteam">
                                <div class="col-5 color-text-left">
                                    <span>Mobile No.2</span>
                                </div>
                                <div class="col-7 color-text-right">
                                    <span></span>
                                </div>
                            </div>
                            <div class="row font-text-myteam">
                                <div class="col-5 color-text-left">
                                    <span>Primary Email</span>
                                </div>
                                <div class="col-7 color-text-right">
                                    <span>jessica.alba@gmail.com</span>
                                </div>
                            </div>
                            <div class="row font-text-myteam">
                                <div class="col-6 color-text-left">
                                    <span>Secondary Email</span>
                                </div>
                                <div class="col-6 color-text-right">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show row-Profile-four" aria-labelledby="headingOne">
                        <div class="main-collapse profile-two">
                            <div class="row font-text-myteam-first">
                                <div class="col-5 color-text-left">
                                    <span>Address</span>
                                </div>
                                <div class="col-7 color-text-right">
                                    <span>149 Serangoon North<br />Avenue 1 #04-907,<br />singapore 550149</span>
                                </div>
                            </div>
                            <div class="row font-text-myteam">
                                <div class="col-5 color-text-left">
                                    <span>Nationality</span>
                                </div>
                                <div class="col-7 color-text-right">
                                    <span>Sinagaporean</span>
                                </div>
                            </div>
                            <div class="row font-text-myteam">
                                <div class="col-5 color-text-left">
                                    <span>Martial Status</span>
                                </div>
                                <div class="col-7 color-text-right">
                                    <span>Single</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show row-Profile-five" aria-labelledby="headingOne">
                        <div class="main-collapse-last profile-two">
                            <div class="row font-text-myteam-first">
                                <div class="col-7 color-text-left">
                                    <span>Next of Kin Name</span>
                                </div>
                                <div class="col-5 color-text-right">
                                    <span></span>
                                </div>
                            </div>
                            <div class="row font-text-myteam">
                                <div class="col-8 color-text-left">
                                    <span>Next of Kin Relationship</span>
                                </div>
                                <div class="col-4 color-text-right">
                                    <span></span>
                                </div>
                            </div>
                            <div class="row font-text-myteam">
                                <div class="col-7 color-text-left">
                                    <span>Next of Kin Contact</span>
                                </div>
                                <div class="col-5 color-text-right">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-Profile-six">
                        <div class="collapse-profile">
                            <div class="block-collapse">
                                <div class="Content-title" data-toggle="collapse" data-target="#collapsetwo"
                                     aria-expanded="true" aria-controls="collapseOne">
                                    <span class="title-icon">
                                        Blank Detail
                                    </span>
                                    <i class="fa icon-collapse" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div id="collapsetwo" class="collapse show" aria-labelledby="headingOne">
                        </div>
                    </div>
                    <div class="row-Profile-seven">
                        <div class="collapse-profile">
                            <div class="block-collapse">
                                <div class="Content-title" data-toggle="collapse" data-target="#collapsethree"
                                     aria-expanded="true" aria-controls="collapseOne">
                                    <span class="title-icon">
                                        Mobile Connected
                                    </span>
                                    <i class="fa icon-collapse" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div id="collapsethree" class="collapse show" aria-labelledby="headingOne">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>