@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">

    <div class="header-savill" style="background: url(@Url.Content(@"~/img/bg_layout1.png")) no-repeat; background-size: cover;">
        <div class="container">
            <div class="row padding-details">
                <div class="col-3">
                    <a href="#"><img src="@Url.Content(@"~/img/left-arrow.png")" class="icon-left" /></a>
                </div>
                <div class="col-6 text-center col-myteam">
                    <span id="text_detail">Details</span>
                </div>
                <div class="col-3">
                    <i class=" icon-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="body-savill">
        <div class="row-myteam">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5 color-text-first">
                        <span>Team Member:</span>
                    </div>
                    <div class="col-7 text-light color-text-two">
                        <span>Marcus Khaw Yen Meng</span>
                    </div>
                </div>
                <div class="row padding-two">
                    <div class="col-5 color-text-first">
                        <span>Case Number:</span>
                    </div>
                    <div class="col-7 text-light color-text-two">
                        <span>46863</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse-myteam">
            <div class="block-collapse">
                <div class="Content-title" data-toggle="collapse" data-target="#collapseOne"
                     aria-expanded="true" aria-controls="collapseOne">
                    <span class="title-icon">
                        Transaction Details
                    </span>
                    <i class="fa icon-collapse" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
            <div class="main-collapse">
                <div class="row font-text-myteam-first">
                    <div class="col-5 color-text-left">
                        Submision Date
                    </div>
                    <div class="col-7 color-text-right">
                        <span>Jul 15, 2019</span>
                    </div>
                </div>
                <div class="row font-text-myteam">
                    <div class="col-5 color-text-left">
                        <span>Option/Lease<br />Agreement Date</span>
                    </div>
                    <div class="col-7 color-text-right">
                        <span>Jul 14, 2019</span>
                    </div>
                </div>
                <div class="row font-text-myteam">
                    <div class="col-5 color-text-left">
                        <span>Transaction Type</span>
                    </div>
                    <div class="col-7 color-text-right">
                        <span>Sale</span>
                    </div>
                </div>
                <div class="row font-text-myteam">
                    <div class="col-5 color-text-left">
                        <span>Property Type</span>
                    </div>
                    <div class="col-7 color-text-right">
                        <span>670 Jalan Damail<br />#07-49, Singapore</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse-myteam">
            <div class="block-collapse">
                <div class="content-title" data-toggle="collapse" data-target="#collapsetwo"
                     aria-expanded="true" aria-controls="collapseOne">
                    <span class="title-icon">
                        Payment Details
                    </span>
                    <i class="fa icon-collapse" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div id="collapsetwo" class="collapse show" aria-labelledby="headingOne">
            <div class="main-collapse">
                <div class="row font-text-myteam-first">
                    <div class="col-5 color-text-left">
                        <span>Receviced Date</span>
                    </div>
                    <div class="col-7 color-text-right">
                        <span>Apr 18, 2019</span>
                    </div>
                </div>
                <div class="row font-text-myteam">
                    <div class="col-5 color-text-left">
                        <span>Payout Date</span>
                    </div>
                    <div class="col-7 color-text-right">
                        <span>Jul 29, 2019</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse-myteam">
            <div class="block-collapse">
                <div class="content-title" data-toggle="collapse" data-target="#collapsethree"
                     aria-expanded="true" aria-controls="collapseOne">
                    <span class="title-icon">
                        Commission Details
                    </span>
                    <i class="fa icon-collapse" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div id="collapsethree" class="collapse show" aria-labelledby="headingOne">
            <div class="main-collapse">
                <div class="row font-text-myteam-first">
                    <div class="col-5 color-text-left">
                        <span>Scheme</span>
                    </div>
                    <div class="col-7 color-text-right">
                        <span>90</span>
                    </div>
                </div>
                <div class="row font-text-myteam">
                    <div class="col-5 color-text-left">
                        <span>Gross</span>
                    </div>
                    <div class="col-7 color-text-right">
                        <span>S$2,810.00</span>
                    </div>
                </div>
                <div class="row font-text-myteam">
                    <div class="col-5 color-text-left">
                        <span>NET</span>
                    </div>
                    <div class="col-7 color-text-right">
                        <span>S$2,529.00</span>
                    </div>
                </div>
                <div class="row font-text-myteam">
                    <div class="col-5 color-text-left">
                        <span>My Overriding</span>
                    </div>
                    <div class="col-7 color-text-right">
                        <span>S$2,810.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse-myteam">
            <div class="block-collapse">
                <div class="content-title" data-toggle="collapse" data-target="#collapsefour"
                     aria-expanded="true" aria-controls="collapseOne">
                    <span class="title-icon">
                        Case Status
                    </span>
                    <i class="fa icon-collapse" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div id="collapsefour" class="collapse show" aria-labelledby="headingOne">
            <div class="main-collapse-last">
                <div class="row-collapsefour-first">
                    <div class="block-text-first">
                        <span class="">Payment Advice</span>
                    </div>
                    <div class="block-text-two">
                        <span class="">Tax Invoice</span>
                    </div>
                    <div class="block-text-three">
                        <span class="">Officeal Receipt</span>
                    </div>
                </div>
                <div class="row-collapsefour-two">
                    <div class="block-excel">
                        <span class="row-img-first"><img src="~/img/xlsx-file-format-extension.png" alt="" /> Excel</span>

                    </div>
                    <div class="block-pdf">
                        <span class="row-img-first"><img src="~/img/pdf-file-format-symbol.png" alt="" /> PDF</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
