@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">

    <div class="header-savill" style="background: url(@Url.Content(@"~/img/bg_layout1.png")) no-repeat; background-size: cover;">
        <div class="container">
            <div class="row padding-details">
                <div class="col-3">
                    <a href="#"><img src="@Url.Content(@"~/img/align.png")" class="icon-left" /></a>
                </div>
                <div class="col-6 text-center col-myteam">
                    <span id="text_detail-official">All Official Forms</span>
                </div>
                <div class="col-3">
                    <i class="fa fa-search icon-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="body-savill">
        <div class="row-Profile-first">
            <div class="row">
                <div class="col-6 color-text-profile-two">
                    <span>Announcement/Updates</span>
                </div>
                <div class="col-6 color-text-profile-first">
                    <span>Form</span>
                </div>
            </div>
        </div>
        <div class="row-office-two">
            <div class="collapse-profile">
                <div class="block-collapse">
                    <div class="Content-title" data-toggle="collapse" data-target="#collapseOne"
                         aria-expanded="true" aria-controls="collapseOne">
                        <span class="title-icon">
                            Personal Data
                        </span>
                        <i class="fa icon-collapse" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">

            </div>
        </div>
        <div class="row-office-three">
            <div class="collapse-profile">
                <div class="block-collapse">
                    <div class="Content-title" data-toggle="collapse" data-target="#collapsethree"
                         aria-expanded="true" aria-controls="collapseOne">
                        <span class="title-icon">
                            Mobile Connected
                        </span>
                        <i class="fa icon-collapse" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div id="collapsethree" class="collapse show" aria-labelledby="headingOne">
            </div>
        </div>
    </div>
</div>
